<div id="buttons_div">
<table width="100%">
	<tr>
		<td align="right">
			<% if session[:changed] %>
				<div id="buttons_on">
			<% else %>
				<div id="buttons_on" style="display:none">
			<% end %>
				<ul id="form_buttons">
					<% @edit[:buttons].each do |button| %>
						<% if button == :continue %>
							<li>
								<%= button_tag "Continue", { :onclick=>"miqAjaxButton('#{url_for(:action=>'prov_continue', :id=>"#{@edit[:req_id] || "new"}", :button=>"continue")}')}, :class=>"btn btn-default", :title=>"Continue this provisioning request" %>
							</li>
						<% elsif button == :submit %>
							<li>
								<%= button_tag "Submit", { :onclick=>"miqAjaxButton('#{url_for(:action=>'prov_edit', :id=>"#{@edit[:req_id] || "new"}", :button=>"new")}')}, :class=>"btn btn-default", :title=>"Submit this provisioning request" %>
							</li>
						<% elsif button == :cancel %>
							<li>

								<%= button_tag "Cancel", { :onclick=>"miqAjaxButton('#{url_for(:action=>'prov_edit', :id=>"#{@edit[:req_id] || "new"}", :button=>"cancel")}')}, :class=>"btn btn-default", :title=>"Cancel this provisioning request" %>

							</li>
						<% end %>
					<% end %>
				</ul>
			</div>

			<% if session[:changed] %>
				<div id="buttons_off" style="display:none">
			<% else %>
				<div id="buttons_off">
			<% end %>
				<ul id="form_buttons">
					<% @edit[:buttons].each do |button| %>
						<% if button == :continue %>
							<li>
								<%= button_tag "Continue", :class=>"btn btn-default", :disabled=>"disabled" %>
							</li>
						<% elsif button == :submit %>
							<li>
								<%= button_tag "Submit", :class=>"btn btn-default", :disabled=>"disabled" %>
							</li>
						<% elsif button == :cancel %>
							<li>

								<%= button_tag "Cancel", { :onclick=>"miqAjaxButton('#{url_for(:action=>'prov_edit', :id=>"#{@edit[:req_id] || "new"}", :button=>"cancel")}')}, :class=>"btn btn-default", :title=>"Cancel this provisioning request" %>

							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</td>
	</tr>
</table>
</div>
