<% url = url_for(:action=>'user_import_form_field_changed',:id=>"import_edit__new") %>
<div id="form_div">
<%= render :partial => "layouts/flash_msg" %>

<fieldset>
	<p class="lead">LDAP Search Options</p>
	<table class="table table-striped">
    <tr>
      <td >LDAP Region</td>
      <td >
        <%= select_tag('ldap_region',
                       options_for_select([["<Choose>",nil]] + @edit[:ldap_regions].sort, @edit[:new][:ldap_region_id]),
                       "data-miq_observe"=>{:url=>url}.to_json) %>
      </td>
    </tr>
    <% unless @edit[:ldap_domains].nil? %>
      <tr>
        <td >LDAP Domain</td>
        <td >
          <%= select_tag('ldap_domain',
                         options_for_select([["<All>",nil]] + @edit[:ldap_domains].sort, @edit[:new][:ldap_domain_id]),
                         "data-miq_observe"=>{:url=>url}.to_json) %>
        </td>
      </tr>
     <% end %>
    <%= render(:partial=>"form_search_options") %>
	</table>
</fieldset>
<% if @edit[:users] %>
  <fieldset>
    <p class="lead">Users to Import</p>
    <table class="table table-striped" height="75">
      <tbody>
        <tr>
          <td>
            <%#= render(:partial=>"layouts/gtl") %>
            <%= render(:partial=>"users_list") %>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
<% end %>
<table width="100%">
  <tr>
    <td align="right">
      <% buttons_show = @edit[:selected_users] && !@edit[:selected_users].empty? %>
      <div id="import_buttons_on" style="display:<%= buttons_show ? "display" : "none" %>;">
        <%= link_to "Import",
                    {:action=>"user_import", :button=>"import",:id=>"import_edit__new"},
		    :class=>"btn btn-default",
                    "data-miq_sparkle_on" => true,
                    :title=>"Import selected Users")
        %>
        <%= link_to "Cancel", 
                    {:action=>"user_import", :button=>"cancel"},
		    :class=>"btn btn-default",
                    "data-miq_sparkle_on" => true,
                    "data-miq_sparkle_off" => true,
                    :title=>"Cancel Import")
        %>
      </div>
      <div id="import_buttons_off" style="display:<%= buttons_show ? "none" : "display" %>;">
        <%= image_tag("/images/formbuttons/import.png",	:class=>"dimmed",
                        :title=>"Select Users to import", :alt=>"Select Users to import") %>
        <%= link_to "Cancel", 
                    {:action=>"user_import", :button=>"cancel"},
		    :class=>"btn btn-default",
                    "data-miq_sparkle_on" => true,
                    "data-miq_sparkle_off" => true,
                    :title=>"Cancel Import")
        %>
      </div>
    </td>
  </tr>
</table>
</div>
