<% url = url_for(:action => 'pxe_server_form_field_changed', 
                 :id     => "#{@ps.id || "new"}") 
%>
<div id="form_div">
	<%= render :partial => "layouts/flash_msg" %>
  <p class="lead">Basic Information</p>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td >Name</td>
        <td>
          <%= text_field_tag("name",
                             @edit[:new][:name],
                             :maxlength         => MAX_NAME_LEN,
                             "data-miq_observe" => {:interval => '.5', 
                                                    :url      => url}.to_json) 
          %>
          <%= javascript_tag("$j('#name').focus()") %>
        </td>
      </tr>
      <tr>
        <td >Depot Type</td>
        <td >
          <%= select_tag("log_protocol",
                         options_for_select([["<Choose>",nil]] + @edit[:protocols_arr].sort,
                         @edit[:new][:protocol]),
                         "data-miq_observe" => {:url => url}.to_json) 
          %>
          </td>
        </tr>
        <% if !@edit[:new][:uri_prefix].nil? %>
          <tr>
            <td >URI</td>
            <td ><%= @edit[:new][:uri_prefix]%>://
              <%= text_field_tag("uri",
                                 @edit[:new][:uri],
                                 :maxlength         => 100,
                                 "data-miq_observe" => {:interval => '.5', 
                                                        :url      => url}.to_json)
              %>
            </td>
          </tr>
          <% if @edit[:new][:uri_prefix] != "nfs" %>
            <%= render	:partial => "/layouts/auth_credentials",
                        :locals  => {:pfx          => "log", 
                                     :change_url   => "pxe_server_form_field_changed", 
                                     :validate_url => "log_depot_validate", 
                                     :record       => @ps} 
            %>
          <% end %>
        <% end %>
        <tr>
          <td >Access URL</td>
          <td >
            <%= text_field_tag("access_url",
                               @edit[:new][:access_url],
                               :maxlength => MAX_NAME_LEN,
                               "data-miq_observe" => {:interval => '.5', 
                                                      :url      => url}.to_json) 
            %>
          </td>
        </tr>
        <tr>
          <td >PXE Directory</td>
          <td >
            <%= text_field_tag("pxe_directory",
                               @edit[:new][:pxe_directory],
                               :maxlength         => MAX_NAME_LEN,
                               "data-miq_observe" => {:interval => '.5', 
                                                      :url      => url}.to_json) 
            %>
          </td>
        </tr>
        <tr>
          <td >Windows Images Directory</td>
          <td >
            <%= text_field_tag("windows_images_directory",
                               @edit[:new][:windows_images_directory],
                               :maxlength         => MAX_NAME_LEN,
                               "data-miq_observe" => {:interval => '.5', 
                                                      :url      => url}.to_json)
            %>
          </td>
        </tr>
        <tr>
          <td >Customization Directory</td>
          <td >
            <%= text_field_tag("customization_directory",
                               @edit[:new][:customization_directory],
                               :maxlength         => MAX_NAME_LEN,
                               "data-miq_observe" => {:interval => '.5', 
                                                      :url      => url}.to_json)
            %>
          </td>
        </tr>
    </tbody>
  </table>

  <hr>
  <p class="lead">PXE Image Menus</p>
  <table class="table table-striped">
    <tbody>
      <% @edit[:new][:pxe_menus].each_with_index do |menu,i| %>
        <tr>
          <td >Filename</td>
          <td >
            <%= text_field_tag("pxemenu_#{i}",
                               h(menu),
                               :maxlength         => MAX_NAME_LEN,
                               "data-miq_observe" => {:interval => '.5', 
                                                      :url      => url}.to_json) 
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
