<%= error_messages_for 'vm' %>

<!--[form:vm]-->


<table border="0" cellpadding="0" cellspacing="0" class="table table-striped">
	<tr>
		<td class="" nowrap>Vendor</td>
		<td class=""><%= select 'vm', 'vendor', VmOrTemplate::VENDOR_TYPES, :prompt => "Choose VM Vendor" %></td>
	</tr>
	<tr>
		<td class="" nowrap>Format:</td>
		<td class=""><%= text_field 'vm', 'format'  %></td>
	</tr>
	<tr>
		<td class="" nowrap>Version:</td>
		<td class=""><%= text_field 'vm', 'version'  %></td>
	</tr>
	<tr>
		<td class="" nowrap>Name:</td>
		<td class=""><%= text_field 'vm', 'name'  %></td>
	</tr>
	<tr>
		<td class="" nowrap>Description</td>
		<td class=""><%= text_area 'vm', 'description'  %></td>
	</tr>
	<tr>
		<td class="" nowrap></td>
		<td class=""></td>
	</tr>
	<tr>
		<td class="" nowrap></td>
		<td class=""></td>
	</tr>
	<tr>
		<td class="" nowrap></td>
		<td class=""></td>
	</tr>
	<tr>
		<td class="" nowrap></td>
		<td class=""></td>
	</tr>
</table>




<p><label for="vm_location">Location</label><br/>
<%= text_field 'vm', 'location'  %></p>

<p><label for="vm_config_xml">Config xml</label><br/>
<%= text_field 'vm', 'config_xml'  %></p>

<p><label for="vm_busy">Busy</label><br/>
<%= text_field 'vm', 'busy'  %></p>

<p><label for="vm_registered">Registered</label><br/>
<%= text_field 'vm', 'registered'  %></p>
<!--[eoform:vm]-->


