<div id="condition_list_div" style="width:100%;height:100%;overflow:auto;">
	<% if @conditions %>
		<div style="padding-top:10px;"></div>
		<%= render(:partial=>"layouts/flash_msg", :locals=>{:top_pad=>10}) %>
		<% if @conditions.empty? %>
			<div class="bg-info"><aside>* No <%= ui_lookup(:model=>@sb[:folder]) %> Conditions are defined<%= @search_text.blank? ? "" : " that match the entered search string" %>.</aside></div>
		<% else %>
				<table class="table table-striped">
					<thead>
						<th></th><th></th>
					</thead>
					<tbody>
					<% @conditions.each do |c| %>
						<tr onclick="cfmeDynatree_activateNode('condition_tree', 'xx-<%=c.towhat.downcase%>_co-<%= to_cid(c.id) %>');"
  							onmouseover="this.style.cursor='pointer'" title="View this Condition">
							<td>
									<img src="/images/icons/new/miq_condition.png" valign="middle" border="0" />
							</td>
							<td>
								<%= c.description %>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
		<% end %>
	<% end %>
</div>
