<div id="column_lists">
  <table width="100%" class="table table-striped" id="formtest">
    <tr>
      <td class="text-left">   UnAssigned:</td>
      <td></td>
      <td class="text-left">Selected:</td>
    </tr>
    <tr>
      <td class="text-right" valign="top">
        <%= select_tag('available_fields[]',
                       options_for_select(@edit[:new][:available_fields]),
                       {:multiple => true, 
                        :style    => "width: 450px", 
                        :size     => 8, 
                        :id       => "available_fields"})
        %>
      </td>
      <td width="30" valign="middle">
        <% if @edit[:new][:available_fields].length == 0 %>
          <%= image_tag("/images/toolbars/right.png", 
                        :class => "dimmed rollover small")
          %>
        <% else %>
          <%= link_to "Move fields right", 
                      {:action => 'st_catalog_form_field_changed', 
                       :button => 'right', 
                       :id     => "#{@edit[:rec_id] || "new"}"},
		      :class=>"btn btn-default",
                      "data-submit" => 'column_lists',
                      :remote       => true,
                      :title        => 'Move selected buttons right')
          %>
        <% end %>
        <% if @edit[:new][:fields].length == 0 %>
          <%= image_tag("/images/toolbars/left.png", 
                        :class => "dimmed rollover small")
          %>
        <% else %>
          <%= link_to "Move fields left", 
                      {:action => 'st_catalog_form_field_changed', 
                       :button => 'left', 
                       :id     => "#{@edit[:rec_id] || "new"}"},
		      :class=>"btn btn-default",
                      "data-submit" => 'column_lists',
                      :remote       => true,
                      :title        => 'Move selected buttons left')
          %>
        <% end %>
      </td>
      <td align="left" valign="top">
        <%= select_tag('selected_fields[]', options_for_select(@edit[:new][:fields], @selected ),
                       {:multiple => true, 
                        :style    => "width: 450px", 
                        :size     => 8, 
                        :id       => "selected_fields"}) 
        %>
      </td>
    </tr>
  </table>
</div>
