<div id="class_props_div" style="width:100%;height:100%;">
  <% if x_node.split('-')[0] == "aec" || params[:pressed] ||
        ["field_select","field_accept","field_delete"].include?(params[:action]) ||
        (x_node.split('-')[0] == "aen" && params[:button] == "reset")
  %>
    <% if !@in_a_form_props %>
      <%= render :partial => "layouts/flash_msg",
                 :locals  => {:div_num => "_class_props"}
      %>
      <dl>
        <dd>
          <p class="lead">Properties</p>
          <table class="table table-striped">
            <thead>
              <tr><th><th></tr>
            </thead>
            <tr>
              <td>
                <%= Dictionary::gettext('fqname',           
                                        :type     => :column, 
                                        :notfound => :titleize)
                %>
              </td>
              <td ><%= h(@sb[:namespace_path]) %></td>
            </tr>
            <tr>
              <td >Name</td>
              <td><%= @ae_class.name %></td>
            </tr>
            <tr>
              <td >Display Name</td>
              <td><%= @ae_class.display_name %></td>
            </tr>
            <tr>
              <td >Description</td>
              <td><%= @ae_class.description %></td>
            </tr>
            <tr>
              <td >Inherits From</td>
              <td><%= @ae_class.inherits %></td>
            </tr>
             <tr>
              <td >Instances</td>
              <td><%= h(@ae_class.ae_instances.length) %></td>
            </tr>
          </table>
        </dd>
      </dl>
      <%= render :partial => "domain_overrides", :locals=>{:node_prefix=>"aec", :model => "Class"}  %>
    <% else %>
      <div id="form_div">
        <div style="padding-top:10px;"></div>
        <%= render :partial => "layouts/flash_msg",
                   :locals  => {:div_num => "_class_props"}
        %>
        <%= render :partial => "class_form" %>
      </div>
    <% end %>
  <% end %>
</div>
