<% url = url_for(:action => 'form_field_changed',
                 :id     => "#{@ae_class.id || "new"}")
%>
  <p class="lead">Properties</p>
  <table class="table table-striped">
      <tr>
        <td >
          <%= Dictionary::gettext('fqname', 
                                  :type     => :column,
                                  :notfound => :titleize)
          %>
        </td>
        <td ><%= @sb[:namespace_path] %></td>
      </tr>
      <tr>
        <td >Name</td>
        <td >
          <%= text_field_tag("name",
              @edit[:new][:name],
              :maxlength         => MAX_NAME_LEN,
              "data-miq_observe" => {:interval => '.5', 
                                     :url      => url}.to_json)
          %>
          <%= javascript_tag("$j('#name').focus()") %>
        </td>
      </tr>
      <tr>
        <td >Display Name</td>
        <td >
          <%= text_field_tag("display_name",
              @edit[:new][:display_name],
              :maxlength         => MAX_NAME_LEN,
              "data-miq_observe" => {:interval => '.5', 
                                     :url      => url}.to_json)
          %>
        </td>
      </tr>
      <tr>
        <td >Description</td>
        <td >
          <%= text_field_tag("description",
              @edit[:new][:description],
              :maxlength         => MAX_NAME_LEN,
              "data-miq_observe" => {:interval => '.5',
                                     :url      => url}.to_json)
          %>
        </td>
      </tr>
      <tr>
        <td >Inherits From</td>
        <td >
          <%= select_tag('inherits_from',
                         options_for_select([["<Choose>",""]] + @edit[:inherits_from].sort,
                         @edit[:new][:inherits]),
                         "data-miq_observe" => {:url => url}.to_json)
          %>
        </td>
      </tr>
  </table>
