<%= render :partial => "layouts/flash_msg", :locals=>{:div_num=>"_fields_seq"}  %>
<div id="column_lists">
  <p/>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>
          <table width="50%" class="table table-striped" id="formtest">
            <tr>
              <td class="text-left">Class Schema Sequencing:</td>
              <td></td>
            </tr>
            <tr>
              <td class="text-left" valign="top">
                 <%= select_tag('seq_fields[]', options_for_select( @edit[:new][:fields_list], @selected), { :multiple=> true, :style=>"width: 450px", :size=>20, :id=>"seq_fields" } ) %>
              </td>
              <td width="30" class="text-left" valign="middle">
                <% if @edit[:new][:fields].length < 2 %>
                  <%= image_tag("/images/toolbars/up.png") %>
                <% else %>
                  <%= link_to(image_tag("/images/toolbars/up.png", :alt=>"Move selected fields up"),
                        {:action=>'fields_seq_field_changed', :button=>'up', :id=>"seq"},
                        "data-miq_sparkle_on" => true,
                        "data-miq_sparkle_off" => true,
                        "data-submit"=>'column_lists',
                        :remote=>true,
                        :title=>'Move selected fields up')
                  %>
                <% end %>

                <% if @edit[:new][:fields].length < 2 %>
                  <%= image_tag("/images/toolbars/down.png") %>
                <% else %>
                  <%= link_to(image_tag("/images/toolbars/down.png", :alt=>"Move selected fields down"),
                        {:action=>'fields_seq_field_changed', :button=>'down', :id=>"seq"},
                        "data-miq_sparkle_on" => true,
                        "data-miq_sparkle_off" => true,
                        "data-submit"=>'column_lists',
                        :remote=>true,
                        :title=>'Move selected fields down')
                  %>
                <% end %>
              </td>
          </tr>
          <div class="bg-info"><aside>* Select one or more consecutive fields to move up or down.</aside></div>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script>
  <%# disable any other tabs on screen when in edit %>
  miq_jquery_disable_inactive_tabs('ae_tabs');
</script>
