<% url = url_for(:action =>'ldap_region_form_field_changed', :id=>"#{@edit[:ldap_region_id] || "new"}") %>
<div id="form_div">
	<%= render :partial => "layouts/flash_msg" %>
  <fieldset>
    <p class="lead">Basic Information</p>
    <table class="table table-striped">
        <tr>
          <td >Name</td>
          <td>
            <%= text_field_tag("name",
                                @edit[:new][:name],
                                :maxlength=>MAX_NAME_LEN,
                                "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
            <%= javascript_tag("$j('#name').focus()") %>
          </td>
        </tr>
        <tr>
          <td >Description</td>
          <td >
            <%= text_field_tag("description",
                               @edit[:new][:description],
                               :maxlength=>MAX_DESC_LEN,
                               "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
          </td>
        </tr>
      <tr>
        <td >Zone</td>
        <td >
            <%= select_tag('zone_id',
                         options_for_select([["<Choose>",nil]] + @edit[:zones], @edit[:new][:zone_id]),
                         "data-miq_observe"=>{:url=>url}.to_json) %>
        </td>
      </tr>
    </table>
  </fieldset>
</div>
