	<%= render :partial => "layouts/flash_msg" %>
    <div id="column_lists">
    <table class="table table-striped">
		<tr>
		  <td>
		    <table width="50%" class="table table-striped" id="formtest">
		      <tr>
				<td class="text-left">User Group Sequencing for LDAP Look Up:</td>
				<td></td>
			  </tr>
		      		<tr>
						<td class="text-left" valign="top">
							 <%= select_tag('seq_fields[]', options_for_select( @edit[:new][:ldap_groups_list], @selected), { :multiple=> true, :style=>"width: 450px", :size=>20, :id=>"seq_fields" } ) %>
						</td>
						<td width="30" class="text-left" valign="middle">
							<% if @edit[:new][:ldap_groups].length < 2 %>
								<%= button_tag "Move fields up", :class=>"btn btn-default", :disabled=>"disabled" %>
							<% else %>
								<%= link_to "Move fields up", 
									{:action=>'rbac_group_field_changed', :button=>'up', :id=>"seq"},
									:class=>"btn btn-default",
									"data-submit"=>"column_lists",
									:remote=>true,
									:title=>'Move selected fields up')
								%>
							<% end %>

							<% if @edit[:new][:ldap_groups].length < 2 %>
								<%= button_tag "Move fields down", :class=>"btn btn-default", :disabled=>"disabled" %>
							<% else %>
								<%= link_to "Move fields down", 
									{:action=>'rbac_group_field_changed', :button=>'down', :id=>"seq"},
									:class=>"btn btn-default",
									"data-submit"=>"column_lists",
									:remote=>true,
									:title=>'Move selected fields down')
								%>
							<% end %>
						</td>
		      	</tr>
						<div class="bg-info"><aside>* Select one or more consecutive groups to move up or down.</aside></div>
			    </table>
			  </td>
			</tr>
    </table>
</div>
