<%
  record               = @temp[:selected_server]
  icon                 = record.class == MiqServer ? "evmserver" : "zone"
  icon_string          = "/images/icons/new/#{icon}.png"
  log_depot_settings   = record.get_log_depot_settings
  log_depot_uri        = log_depot_settings.try(:fetch_path, :uri) || "N/A"
  log_depot_uri       << " (from Zone)" if log_depot_settings.try(:fetch_path, :from_zone)
  last_time            = record.last_log_sync_on
  last_collection_time = last_time.blank? ? "Never" : format_timezone(last_time.to_time,Time.zone,"gtl")
%>

<div id="selected_div">
  <fieldset>
    <p class="lead">Basic Info</p>
    <table class="table table-striped">
      <tr>
        <td height="64" width="64" rowspan="9"><img src=<%= icon_string %>></td>
        <td ><%= "#{Dictionary::gettext(record.class.name, :type=>:model, :notfound=>:titleize)}" %></td>
        <td ><%= h(record.display_name) %></td>
      </tr>
      <tr>
        <td >Log Depot URI</td>
        <td ><%= h(log_depot_uri) %></td>
      </tr>
      <tr>
        <td >Last Log Collection</td>
        <td ><%= h(last_collection_time) %></td>
      </tr>
      <% if record.respond_to?(:last_log_sync_message) %>
        <tr>
          <td >Last Message</td>
          <td ><%= h(record.last_log_sync_message) %></td>
        </tr>
      <% end %>
    </table>
  </fieldset>
</div>
