<% rec = @record %>
<div id="selected_<%=@sb[:active_tab].split('_').last%>_div">
	<fieldset>
		<p class="lead">Selected Item</p>
		<% if @sb[:diag_tree_type] == "roles" %><%# tree type is roles by server %>
			<% if rec.class == MiqServer %>
				<table class="table table-striped">
					<tr>
						<td  height="64" width="64" rowspan="13"><img src="/images/icons/new/evmserver.png"/></td>
						<td ><%= "#{Dictionary::gettext('MiqServer', :type=>:model, :notfound=>:titleize)}" %></td>
						<td ><%= h("#{rec.name}(#{rec.id})") %> PID=<%= h(rec[:pid]) %></td>
					</tr>
					<tr>
						<td >Hostname</td><td ><%= h(rec[:hostname]) %></td>
					</tr>
					<tr>
						<td >IP Address</td><td ><%= h(rec[:ipaddress]) %></td>
					</tr>
					<tr>
						<td >Status</td><td ><%= h(rec[:status]) %></td>
					</tr>
					<tr>
						<td >Started On</td>
						<td >
							<% t = rec.started_on %>
							<%= h(t.blank? ? "" : format_timezone(t)) %>
						</td>
					</tr>
					<tr>
						<td >Stopped On</td>
						<td >
							<% t = rec.stopped_on %>
							<%= h(t.blank? ? "" : format_timezone(t)) %>
						</td>
					</tr>
          <tr>
            <td >Memory Usage</td>
            <td >
              <%= h(rec["memory_usage"]) %>
            </td>
          </tr>
          <tr>
            <td >Memory Size</td>
            <td >
              <%= h(rec["memory_size"]) %>
            </td>
          </tr>
          <tr>
            <td >CPU Time</td>
            <td >
              <%= h(rec["cpu_time"]) %>
            </td>
          </tr>
          <tr>
            <td >CPU Percent</td>
            <td >
              <%= h(rec["percent_cpu"]) %>
            </td>
          </tr>
          <tr>
            <td >Version / Build</td>
            <td >
              <%= h(rec["version"]) %>
            </td>
          </tr>
				</table>
			<% else %><%# record class is AssignedServerRole %>
				<table class="table table-striped">
					<tr>
						<td  height="64" width="64" rowspan="9">
							<img src="/images/icons/new/role-<%= rec.server_role.name %>.png">
						</td>
						<td >Role</td>
						<td ><%= rec.server_role.description %> on
							<%= "#{Dictionary::gettext('MiqServer', :type=>:model, :notfound=>:titleize)}: #{rec.miq_server.name} [#{rec.miq_server.id}]" %>
						</td>
					</tr>
					<tr>
						<td >Status</td>
						<td ><%= h(rec.miq_server.started? ? (rec.active ? "active" : "available") : "unavailable") %></td>
					</tr>
					<% if rec.master_supported? %>
						<tr>
							<td >Priority</td>
							<td >
								<% if rec.priority == 1 %>
									primary
								<% elsif rec.priority == 2 %>
									secondary
								<% else %>
									normal
								<% end %>
							</td>
						</tr>
					<% end %>
					<tr>
						<% max = rec.server_role.max_concurrent %>
						<td >Max Concurrent</td><td ><%= h(max == 0 ? "unlimited" : max) %></td>
					</tr>
				</table>
			<% end %>
		<% else %><%# tree type is servers by role %>
			<% if rec.class == ServerRole %>
				<table class="table table-striped">
					<tr>
						<td  height="64" width="64" rowspan="9"><img src="/images/icons/new/role-<%=  rec.name %>.png"></td>
						<td >Role</td>
						<td ><%= rec.description %></td>
					</tr>
					<tr>
						<td >Status</td>
						<td ><%= h(@temp[:rec_status]) %></td>
					</tr>
					<tr>
						<% max = rec.max_concurrent %>
						<td >Max Concurrent</td><td ><%= h(max == 0 ? "unlimited" : max) %></td>
					</tr>
				</table>
			<% else %><%# record class is AssignedServerRole %>
				<table class="table table-striped">
					<tr>
						<td   rowspan="13"><img src="/images/icons/new/evmserver.png"></td>
						<td ><%= "#{Dictionary::gettext('MiqServer', :type=>:model, :notfound=>:titleize)}" %></td>
						<td ><%= h("#{rec.miq_server.name} [#{rec.miq_server.id}]") %></td>
					</tr>
					<tr>
						<td >Status</td><td ><%= h(rec.miq_server.status) %></td>
					</tr>
					<% if rec.master_supported? %>
						<tr>
							<td >Priority</td>
							<td >
								<% if rec.priority == 1 %>
									primary
								<% elsif rec.priority == 2 %>
									secondary
								<% else %>
									normal
								<% end %>
							</td>
						</tr>
					<% end %>
					<tr>
						<td >Process ID</td><td ><%= h(rec.miq_server.pid) %></td>
					</tr>
					<tr>
						<td >Started On</td>
						<td >
							<% t = rec.miq_server.started_on %>
							<%= h(t.blank? ? "" : format_timezone(t)) %>
						</td>
					</tr>
					<tr>
						<td >Stopped On</td>
						<td >
							<% t = rec.miq_server.stopped_on %>
							<%= h(t.blank? ? "" : format_timezone(t)) %>
						</td>
					</tr>
          <tr>
            <td >Memory Usage</td>
            <td >
              <%= h(rec.miq_server["memory_usage"]) %>
            </td>
          </tr>
          <tr>
            <td >Memory Size</td>
            <td >
              <%= h(rec.miq_server["memory_size"]) %>
            </td>
          </tr>
          <tr>
            <td >CPU Time</td>
            <td >
              <%= h(rec.miq_server["cpu_time"]) %>
            </td>
          </tr>
          <tr>
            <td >CPU Percent</td>
            <td >
              <%= h(rec.miq_server["percent_cpu"]) %>
            </td>
          </tr>
          <tr>
            <td >Version / Build</td>
            <td >
              <%= h(rec.miq_server["version"]) %>
            </td>
          </tr>
				</table>
			<% end %>
		<% end %>
	</fieldset>
</div>
