<div id= "desc_content" class="desc_content">
	<fieldset>
	<p class="lead"><%= h(@temp[:selected_server]["name"]) %></p>
		<dl>
			<dd>
        <table class="table table-striped">
          <tr>
            <td rowspan="6" height="64" width="64"><img src="/images/icons/new/processmanager-evmserver.png"/></td>
            <td >Hostname</td>
            <td ><%= h(@temp[:selected_server][:hostname]) %></td>
          </tr>
          <tr>
            <td >IP Address</td><td ><%= h(@temp[:selected_server][:ipaddress]) %></td>
          </tr>
          <tr>
            <td >Status</td><td ><%= h(@temp[:selected_server][:status]) %></td>
          </tr>
          <tr>
            <td >Started On</td>
            <td >
              <% t = @temp[:selected_server].started_on %>
              <%= h(t.blank? ? "" : format_timezone(t)) %>
            </td>
          </tr>
          <tr>
            <td >Stopped On</td>
            <td >
              <% t = @temp[:selected_server].stopped_on %>
              <%= h(t.blank? ? "" : format_timezone(t)) %>
            </td>
          </tr>
        </table>

			</dd>
      <dd>
        <table class="table table-striped">
          <tr>
            <td >Memory Usage</td>
            <td>
              <%= h(@temp[:selected_server]["memory_usage"]) %>
            </td>
          </tr>
          <tr>
            <td >Memory Size</td>
            <td>
              <%= h(@temp[:selected_server]["memory_size"]) %>
            </td>
          </tr>
          <tr>
            <td >CPU Time</td>
            <td>
              <%= h(@temp[:selected_server]["cpu_time"]) %>
            </td>
          </tr>
          <tr>
            <td >CPU Percent</td>
            <td>
              <%= h(@temp[:selected_server]["percent_cpu"]) %>
            </td>
          </tr>
          <tr>
            <td >Version / Build</td>
            <td>
                <%= h(@temp[:selected_server]["version"]) %>
            </td>
          </tr>
        </table>
      </dd>
		</dl>
  </fieldset>
</div>
