<%= render :partial => "layouts/flash_msg" %>

<ul id="nav nav-tabs">
	<li class="active"><a class="active"><%= @title %></a>
	</li>
</ul>

<%= form_tag(:action => 'add_vm_to_service', :id => @vm) do %>
			<fieldset>
				<p class="lead">Service Selection</p>
				<table class="table table-striped">
						<tr>
							<td>Service</td>
							<td><%= select_tag('chosen_service', options_for_select(@svcs.sort), { :multiple=> false, "data-miq_focus"=>true } ) %></td>
						</tr>
				</table>
			</fieldset>

<div id="formbuttonplacement">


			<%= image_submit_tag("/images/formbuttons/add.png",  :width=>"80", :height=>"35", :name=>"add", :class=>"button", :alt=>"Add VM to the selected Service", :title=>"Add VM to the selected Service") %>
			<%= image_submit_tag("/images/formbuttons/cancel.png",  :width=>"80", :height=>"35", :name=>"cancel", :class=>"button", :alt=>"Cancel", :title=>"Cancel") %>
			<% end %>
</div>
