<%= form_tag({:action => 'snap_vm', :id => @record}, {:id => "vm_snap_form"}) do %>
	<%= render :partial => "layouts/flash_msg" %>
	<div id="form_div">
				<fieldset>
					<p class="lead">Snapshot Information</p>
					<table class="table table-striped">
						<tbody>
							<tr>
								<td >Name</td>
								<td><%= text_field_tag("name", @name, :maxlength=>MAX_NAME_LEN, "data-miq_focus"=>true) %></td>
							</tr>
							<tr>
								<td >Description</td>
								<td><%= text_area_tag("description", @description, :size=>"50x4") %></td>
							</tr>
							<tr>
								<td >Snapshot VM memory</td>
								<td><%= check_box_tag("snap_memory", value="1", checked=false)%></td>
							</tr>
						</tbody>
					</table>
				</fieldset>
	</div>
	<% if !@edit %>
		<table width="100%">
			<tr>
				<td class="text-right">
					<%= image_submit_tag("/images/formbuttons/create.png",  :width=>"80", :height=>"35", :name=>"create", :class=>"button", :alt=>"Create snapshot", :title=>"Create snapshot") %>
					<%= image_submit_tag("/images/formbuttons/cancel.png",  :width=>"80", :height=>"35", :name=>"cancel", :class=>"button", :alt=>"Cancel", :title=>"Cancel") %>
				</td>
			</tr>
		</table>
	<% end %>
<% end %>
