<% if items %>
  <div id="table_div">
    <table class="table table-striped">
      <thead>
        <tr><th colspan="2" align="left"><%= title %></th></tr>
      </thead>
      <% items.each do |item| %>
        <tr>
          <td><%= item[:label] %></td>
          <% if item[:value].kind_of?(Array) %>
            <td valign="top" style="padding: 0;">
              <table class="table table-striped" style="padding: 0; margin: 0; border: 0; width: 100%">
                <% item[:value].each do |subitem| %>
                  <tr>
                    <td>
                      <img src="/images/icons/new/<%= subitem[:image] %>.png" />
                        <%= subitem[:label] %>: <%= subitem[:value].collect { |t| h(t) }.join("&nbsp;<b>|</b>&nbsp;").html_safe %>
                    </td>
                  </tr>
                <% end %>
              </table>
            </td>
          <% else %>
            <td><% if item[:image] %><img src="/images/icons/new/<%= item[:image] %>.png" /><% end %><%= item[:value] %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
