<% url = url_for(:action =>'form_field_changed', :id=>"#{@sm.id || "new"}") %>
<% validate_url ||= ["new", "create"].include?(controller.action_name) ? "create" : "update" %>

<div id="form_div">
	<%= render :partial => "layouts/flash_msg" %>

		<dl>
			<dd>
				<fieldset>
					<p class="lead">Basic Information</p>
					<table class="table table-striped">
							<tr>
								<td >Name</td>
								<td >
                  <%= text_field_tag("name",
                                      @edit[:new][:name],
                                      :maxlength=>MAX_NAME_LEN,
																			"data-miq_focus"=>true,
                                      "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
                </td>
							</tr>
							<tr>
								<td >Type</td>
								<td >
									<% if @sm.id %>
										<%= h(@edit[:new][:sm_type]) %>
									<% else %>
                    <%= select_tag("sm_type",
                                      options_for_select([["<Choose>",nil]] + @edit[:sm_types].invert.sort, @edit[:new][:sm_type]),
                                      "data-miq_observe"=>{:url=>url}.to_json) %>
									<% end %>
								</td>
							</tr>
							<tr>
								<td >Host Name</td>
								<td >
                  <%= text_field_tag("hostname",
                                      @edit[:new][:hostname],
                                      :maxlength=>MAX_NAME_LEN,
                                      "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
                </td>
							</tr>
							<tr>
								<td >IP Address</td>
								<td >
                  <%= text_field_tag("ipaddress",
                                      @edit[:new][:ipaddress],
                                      :maxlength=>15,
                                      "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
                </td>
							</tr>
							<tr>
								<td >Port</td>
								<td >
                  <%= text_field_tag("port",
                                      @edit[:new][:port],
                                      :maxlength=>15,
                                      "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
                </td>
							</tr>
							<% if false %>
								<tr>
									<td >Type</td>
									<td >
                    <%= select_tag("agent_typ",
                                      options_for_select(["<Choose>"] + Array(StorageManager::AGENT_TYPES.invert).sort{|a,b|a[0]<=>b[0]},
                                        @edit[:new][:agent_type]),
                                      "data-miq_observe"=>{:url=>url}.to_json) %>
									</td>
								</tr>
							<% end %>
							<tr>
								<td >Zone</td>
								<td >
									<% if @edit[:server_zones].length <= 1 %>
                    <%= text_field_tag("server_zone",
                                        @edit[:new][:zone],
                                        :disabled =>true,
                                        :maxlength=>15,
                                        "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
									<% else %>
                    <%= select_tag("server_zone",
                                      options_for_select(@edit[:server_zones].sort, @edit[:new][:zone]),
                                      "data-miq_observe"=>{:url=>url}.to_json) %>
									<% end %>
								</td>
							</tr>
					</table>
				</fieldset>
			</dd>
			<dd>
				<fieldset>
					<p class="lead">Credentials</p>
					<table class="table table-striped">
							<tr>
								<td >User ID</td>
								<td >
                  <%= text_field_tag("userid",
                                        @edit[:new][:userid],
                                        :maxlength=>50,
                                        "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
                </td>
							</tr>
							<tr>
								<td >Password</td>
								<td >
                  <%= password_field_tag("password",
                                        @edit[:new][:password],
                                        :maxlength=>50,
                                        "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
                </td>
							</tr>
							<tr>
								<td >Verify Password</td>
								<td >
                  <%= password_field_tag("verify",
                                        @edit[:new][:verify],
                                        :maxlength=>50,
                                        "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
                </td>
							</tr>
							<tr>
								<td></td>
								<td align="right">
									<%#= render :partial => '/layouts/form_buttons_verify' %>
									<%= render	:partial=>"/layouts/form_buttons_verify",
															:locals=>{:validate_url=>validate_url, :record=>@sm}
									%>
								</td>
							</tr>
					</table>
				</fieldset>
			</dd>
	<% if ["new", "create"].include?(controller.action_name) %>
	<table width="100%">
		<tr>
			<td align="right">
				<div id="buttons_on">
					<%= link_to "Add", url_for(:action=>"create", :id=>"new", :button=>"add"), :class=>"btn btn-default" %>
					<%= link_to "Cancel", url_for(:action=>"create", id=>"new", :button=>"cancel"), :class=>"btn btn-default" %>
				</div>
			</td>
		</tr>
	</table>
	<% else %>
	<%= render(:partial=>'/layouts/edit_form_buttons', :locals=>{:record_id=>@sm.id, :ajax_buttons=>true})%>
	<% end %>
	</dl>
</div>


