<%= render(:partial => "layouts/flash_msg") %>
<p class="lead">Basic Information</p>
<table class="table table-striped">
  <tbody>
  <tr>
    <td >Button Text</td>
    <td>
      <%= @temp[:custom_button].name %>
      <% display = @temp[:custom_button].options.has_key?(:display) ? @temp[:custom_button].options[:display] : true %>
      <%= check_box_tag(display, value=true,
                        checked=display,
                        :disabled => true)
      %>
      &nbsp;Display on Button
    </td>
  </tr>
    <tr>
      <td >Button Hover Text</td>
      <td ><%= @temp[:custom_button].description %></td>
    </tr>
    <tr>
      <td >Image</td>
      <td ><img src="/images/icons/new/custom-<%=@temp[:custom_button].options[:button_image]%>.png" align="left" width="20" height="20"/></td>
    </tr>
    <tr>
      <td >Dialog</td>
      <td><%= h(@sb[:dialog_label]) %>
    </tr>
  </tbody>
</table>
<hr>

<p class="lead">Object Details</p>
<table class="table table-striped">
  <tbody>
    <tr>
      <td >System/Process/</td>
      <td><%= h(@resolve[:new][:instance_name]) %></td>
    </tr>
    <tr>
      <td >Message</td>
      <td><%= h(@resolve[:new][:object_message]) %></td>
    </tr>
    <tr>
      <td >Request</td>
      <td><%= h(@resolve[:new][:object_request]) %></td>
    </tr>
    </tbody>
</table>
<hr>
<p class="lead">Object Attribute</p>
<table class="table table-striped">
  <tbody>
    <tr>
      <td >Type</td>
      <td ><%= @resolve[:new][:target_class] %></td>
    </tr>
    <% if @resolve[:new][:target_class] && !@resolve[:new][:target_class].blank? %>
      <tr>
        <td >Selection</td>
        <td>
          <%= h(@resolve[:new][:target_id]) %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
<hr>
<p class="lead">Attribute/Value Pairs</p>
<% if @resolve[:new][:attrs].empty? %>
  <div class="bg-warning">
    <i class="fa fa-info-circle"></i>
    <strong>No Attribute/Value Pairs found.</strong>
  </div>
<% else %>
  <table class="table table-striped">
    <% @resolve[:new][:attrs].each_with_index do |attr, i| %>
      <tr>
        <td ><%= (i+1).to_s %></td>
        <td ><%= h(attr[0]) %></td>
        <td ><%= h(attr[1]) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<hr>
<p class="lead">Visibility</p>
<table class="table table-striped">
  <% show_to = @temp[:custom_button].visibility.nil? || (@temp[:custom_button].visibility && @temp[:custom_button].visibility[:roles] && @temp[:custom_button].visibility[:roles][0] == "_ALL_") ? "To All" : "By Role" %>
  <tbody>
    <tr>
      <td >Show</td>
      <td><%= h(show_to) %></td>
    </tr>
    <% if show_to == "By Role" && !@sb[:user_roles].blank? %>
      <tr>
        <td >User Roles</td>
        <td><%= h(@sb[:user_roles].join(", ")) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
