%tr
  %td{:colspan => 2} Appliances in this region can be registered with:
%tr
  %td{:colspan => 2} &nbsp;
%tr
  %td Service
  %td
    = @customer.subscription
%tr
  %td Server Address
  %td
    = @customer.server
%tr
  %td Account
  %td 
    = @customer.user_name
%tr
  %td Organization
  %td 
    = @customer.company_name
%tr
  %td Update Repository
  %td
    = @customer.update_repo_name
-# to be enabled later
-#    %tr
-#      %td E-mail Address:
-#      %td= @customer.email
-#    %tr
-#      %td Subscriptions:
-#      %td= @customer.subscriptions
