<%# Div to hold the actual tree %>
<% entry_point ||= "Instance"  %>
<div id="automate_tree_div">
  <%= hidden_field_tag(:ignore_form_changes) %>
  <fieldset>
    <p class="lead">Select Entry Point <%=entry_point%></p>
    <div id="automate_tree_box"></div>
    <%= render(:partial => "layouts/dynatree",
               :locals => {:tree_id             => "automate_tree_box",
                           :tree_name           => "automate_tree",
                           :json_tree           => @temp[:automate_tree],
                           :onclick             => "cfmeOnClick_SelectAETreeNode",
                           :tree_root           => "#{x_node(:automate_tree)}",
                           :base_id             => "root",
                           :no_base_exp         => true,
                           :exp_tree            => false,
                           :highlighting        => true,
                           :autoload            => true,
                           :cfme_changes_check  => true
               }) %>
    <div id="buttons">
      <table width="100%">
        <tr>
          <td>
              <ul id="form_buttons" class="list-inline">
		<li>
		  <%= link_to "Apply", {:action=>"ae_tree_select_toggle", :button=>"submit", :remote=>true}, :class=>"btn btn-default" %>
		</li>
		<li>
		  <%= link_to "Cancel", {:action=>"ae_tree_select_toggle", :button=>"cancel", :remote=>true}, :class=>"btn btn-default" %>
		</li>
              </ul>
          </td>
        </tr>
      </table>
    </div>
  </fieldset>
</div>
