<% save_text ||= "Save Changes" %>
<% save_confirm_text ||= nil %>
<% show_validate_button ||= nil %>
<% action_url ||= "update" %><%# Set default action url, if none passed in %>
<% record_id ||= nil       %><%# Set default record id to nil, if none passed in %>
<% noreset ||= nil %>
<% align ||= "right" %>
<% ajax_buttons ||= false %>
<% serialize ||= false %>
<% continue_button ||= nil  %>  <%# need to show continue button instead of save button %>
<% show_cancel_button = %w(user_edit user_update menu_tree zone_edit zone_update ldap_seq_edit rbac_group_edit rbac_group_update rbac_group_field_changed category_edit category_update timeprofile_edit timeprofile_update timeprofile_copy) %>
<% force_cancel_button ||= false %>
&nbsp;
<table width="100%" class="table">
  <tr>
    <td align="<%= align %>">
      <div id="buttons_on" style="display:<%= @changed ? "display" : "none" %>;">
        <ul id="form_buttons">
          <% if ["miq_proxy","miq_ae_class","pxe","miq_ae_tools"].include?(@layout) || ajax_buttons  %>
            <% if serialize %>
              <li>
		<%= link_to "Save", '#{url_for(:action=>action_url, :id=>record_id, :button=>"save")}', :class=>"btn btn-default" %>
              </li>
            <% else %>
              <% if show_validate_button %>
                <li>
		 <%= link_to "Validate", '#{url_for(:action=>action_url, :id=>record_id, :button=>"db_verify")}', :class=>"btn btn-default" %>
                </li>
              <% end %>
              <li>
                <% unless save_confirm_text %>
                  <% if continue_button %>
		    <%= link_to "Continue", '#{url_for(:action=>action_url, :id=>record_id, :button=>"Continue")}', :class=>"btn btn-default" %>
                  <% else %>
		    <%= link_to "Save", '#{url_for(:action=>action_url, :id=>record_id, :button=>"save")}', :class=>"btn btn-default" %>
                  <% end %>
                <% else %><%# Ask for confirmation before saving %>
		  <%= link_to "Save", '#{url_for(:action=>action_url, :id=>record_id, :button=>"save")}', :class=>"btn btn-default" %>
                <% end %>
              </li>
            <% end %>
          <% else %>
            <li>
              <% if continue_button %>
                <%= link_to "Continue", 
                            {:action => action_url, :button => "continue", :id => record_id},	
			    :class=>"btn btn-default",
                            :title => "Continue", :method => :post) %>
              <% else %>
                <%= link_to "Save", 
                            {:action => action_url, :button => "save", :id => record_id},
			    :class=>"btn btn-default",
                            :title => save_text, :method => :post) %>
              <% end %>
            </li>
          <% end %>
          <% unless noreset %>
            <li>
              <% if @layout == "report" && @sb[:menu_buttons] %>
		  <%= link_to "Reset Changes", '#{url_for(:action=>action_url, :id=>record_id, :button=>"reset")}', :class=>"btn btn-default" %>
		  <%= link_to "Reset to Defaults", '#{url_for(:action=>action_url, :id=>record_id, :button=>"default")}', :class=>"btn btn-default" %>
              <% else %>
                <% if @layout == "miq_ae_class" || (ajax_buttons  && params[:action] != "tagging_edit") %>
		  <%= link_to "Reset Changes", '#{url_for(:action=>action_url, :id=>record_id, :button=>"reset")}', :class=>"btn btn-default" %>
                <% else %>
                  <%# needed non-ajax reset button for tagging screen for the main CI's %>
		  <%= link_to "Reset", '#{url_for(:action=>action_url, :id=>record_id, :button=>"reset")}', :class=>"btn btn-default" %>
                <% end %>
              <% end %>
            </li>
          <% end %>
          <% unless (
                    (@layout == "ops" && !force_cancel_button) ||
                    (@layout == "configuration" && !show_cancel_button.include?(controller.action_name)) ||
                    (@layout == "report" && !@sb[:menu_buttons] &&
                      !%w(edit update schedule_edit schedule_update", "widget_edit widget_update db_seq_edit db_form_field_changed db_edit db_update db_widget_remove).include?(controller.action_name) &&
                      "edit" != @lastaction)
                    ) %>
            <li>
              <% if @layout == "miq_ae_class" || ajax_buttons %>
		<%= link_to "Cancel", '#{url_for(:action=>action_url, :id=>record_id, :button=>"cancel")}', :class=>"btn btn-default" %>
              <% else %>
              <%= link_to "Cancel",
                          {:action => action_url, :button => "cancel", :id => record_id},
			  :class=>"btn btn-default",
                          :title => "Cancel Changes", :method => :post) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <div id="buttons_off" style="display:<%= @changed ? "none" : "display" %>;">
        <ul id="form_buttons">
          <% if show_validate_button %>
            <li>
	      <%= link_to "Verify", '#{url_for(:action=>action_url, :id=>record_id, :button=>"Verify")}', :class=>"btn btn-default", :disabled=>"disabled" %>
            </li>
          <% end %>
          <li>
            <% if continue_button %>
	      <%= link_to "Continue", '#{url_for(:action=>action_url, :id=>record_id, :button=>"continue")}', :class=>"btn btn-default", :disabled=>"disabled" %>
            <% else %>
	      <%= link_to "Save", '#{url_for(:action=>action_url, :id=>record_id, :button=>"save")}', :class=>"btn btn-default", :disabled=>"disabled" %>
            <% end %>
          </li>
          <% unless noreset %>
            <li>
	      <%= link_to "Reset", '#{url_for(:action=>action_url, :id=>record_id, :button=>"reset")}', :class=>"btn btn-default", :disabled=>"disabled" %>

              <% if @layout == "report" && @sb[:menu_buttons] %>
	        <%= link_to "Default", '#{url_for(:action=>action_url, :id=>record_id, :button=>"default")}', :class=>"btn btn-default", :disabled=>"disabled" %>
              <% end %>
            </li>
          <% end %>
          <% unless (
                    (@layout == "ops" && !force_cancel_button) ||
                    (@layout == "configuration" && !show_cancel_button.include?(controller.action_name)) ||
                    (@layout == "report" && !@sb[:menu_buttons] &&
                      !%w(edit update schedule_edit schedule_update widget_edit widget_update db_seq_edit db_form_field_changed db_edit db_update db_widget_remove).include?(controller.action_name) &&
                      "edit" != @lastaction)
                    ) %>
            <li>
              <% if @layout == "miq_ae_class" || ajax_buttons %>
		<%= link_to "Cancel", '#{url_for(:action=>action_url, :id=>record_id, :button=>"cancel")}', :class=>"btn btn-default" %>
                %>
              <% else %>
                <%= link_to "Cancel", 
                            {:action => action_url, :button => "cancel", :id => record_id}, :class=>"btn btn-default", :title => "Cancel", :method => :post) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </td>
  </tr>
</table>
