<% save_text ||= "Save Changes" %>
<% save_confirm_text ||= nil %>
<% show_validate_button ||= nil %>
<% ajax_buttons ||= false %>
<% serialize ||= false %>
<% action_url ||= "update" %>
<table width="100%" class="table">
	<tr>
		<td align="right">
  <div id="buttons_on" style="display:<%= @changed ? "display" : "none" %>;">
		<ul id="form_buttons">
			<% if ajax_buttons %>
				<% if serialize %>
					<li>
						<button class="btn btn-default" boder="0" alt="Validate" title="Validate" onclick="<%= miqAjaxButton('#{url_for(:action=>action_url, :id=>record_id, :button=>"save")}', true) %>">Validate</button>
					</li>
				<% else %>
					<% if show_validate_button %>
						<li>
							<button class="btn-btn-default" border="0" alt="Validate" title="Validate" onclick="<%= miqAjaxButton('#{url_for(:action=>action_url, :button=>"db_verify")}') %>" >Validate</button>
						</li>
					<% end %>
					<li>
						<button class="btn btn-default" border="0" alt="<%= alt_text %>" title="<%= save_text %>" onclick="<%= miqAjaxButton('#{url_for(:action=>action_url, :button=>"save")}') %>">Save</button>
					</li>
				<% end %>
			<% else %>
				<% if show_validate_button %>
					<li>
						<button class="btn btn-default" id="db_verify" name="db_verify" alt="validate" title="Validate Database Setting for the Server">Verify</button>
					</li>
				<% end %>
				<% unless save_confirm_text %>
					<li>
						<button class="btn btn-default" id="save" name="save" alt="<%= save_text %>" title="<%= save_text %>" >Save</button>
					</li>
				<% else %>
					<li>
						<button class="btn btn-default" id="save" name="save" alt="<%= save_text %>" title="<%= save_text %>" confirm="<%= save_confirm_text %>" >Save</button
					</li>
				<% end %>
			<% end %>
			<% if ajax_buttons %>
				<li>
					<button class="btn btn-default" border="0" alt="Reset Changes" title="Reset Changes" onclick="<%= miqAjaxButton('#{url_for(:action=>action_url, :button=>"reset")}'); %>">Reset</button>
				</li>
			<% else %>
				<li>
					<button class="tn btn-default" id="reset" name="reset" alt="Reset Changes" title="Reset Changes">Reset</button>
				</li>
			<% end %>
			<%# if @layout != "configuration" || ["user_edit", "user_update"].include?(controller.action_name) %>
			<% unless  @layout == "configuration" || @layout == "ops" || @layout == "chargeback" || @layout == "miq_ae_class"  %>
				<li>
					<button class="btn btn-default" id="cancel" name="cancel" alt="Cancel" title="Cancel">Cancel</button>
				</li>
			<% end %>
		</ul>
	</div>

  <div id="buttons_off" style="display:<%= @changed ? "none" : "display" %>;">
		<ul id="form_buttons" class="nav">
			<% if show_validate_button %>
				<li>
					<button class="btn btn-default" disabled="disabled" title="All fields are needed to perform verification of Database Settings">Verify</button>
				</li>
			<% end %>
			<li>
				<button class="btn btn-default" disabled="disabled">Save</button>
			</li>
			<li>
				<button class="btn btn-default" disabled="disabled">Reset</button>
			</li>
			<%# if @layout != "configuration" || ["user_edit", "user_update"].include?(controller.action_name) %>
			<% unless  @layout == "configuration" || @layout == "ops" || @layout == "chargeback" || @layout == "miq_ae_class"  %>
				<li>
					<button class="btn btn-default" id="cancel" name="cancel" alt="cancel" title="Cancel">Cancel</button>
				</li>
			<% end %>
		</ul>
	</div>
		</td>
	</tr>
</table>

