<div id='main_div'>
  <%= render :partial => "layouts/flash_msg" %>
  <p class="lead">Select Policy Profiles</p>
  <% if @sb[:no_policy_profiles] %>
    No Policy Profiles available
  <% else %>
    <%= render(:partial => '/layouts/protect_tree') %>
  <% end %>
  <br/>
  <% if @politems.length > 1 %>
    <div class="bg-warning">
      <i class="fa fa-info-circle"></i>
      <strong>Policy Profile is only applied to some of the items below.</strong>
    </div>
  <% end %>
  <% if !@edit[:explorer] %>
    <%= render(:partial => '/layouts/edit_form_buttons',
               :locals  => {:action_url => "protect"})
    %>
  <% end %>
  <p class="lead">
    <%= "Policy changes will affect #{pluralize(@politems.length, 
                                                Dictionary::gettext(session[:pol_db].to_s,
                                                                    :type     => :model, 
                                                                    :notfound => :titleize))}" 
    %>
  </p>
  <table class="table table-striped" height="75">
    <tbody>
      <tr>
        <td>
          <% if @politems %>
            <% @embedded = true %>
            <%= render(:partial => "layouts/gtl") %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
