<% action_url ||= nil %><%# Set default action url, if none passed in %>
<% record_id ||= nil	%><%# Set default record id to nil, if none passed in %>
<% align ||= "right" %>
<%  buttons = @record.buttons.split(',') %>
<table width="100%">
	<tr>
		<td align="<%= align %>">
      <div id="buttons_on" style="display:<%= session[:changed] ? "display" : "none" %>;">
				<ul id="form_buttons">
					<% buttons.each do |b| %>
						<% case b %>
						<% when "save" %>
							<li>
								<%= link_to "Save", '#{url_for(:action=>action_url, :id=>record_id, :button=>"save")}', :class=>"btn btn-default" %>
							</li>
						<% when "submit" %>
								<%= link_to "Save", '#{url_for(:action=>action_url, :id=>record_id, :button=>"save")}', :class=>"btn btn-default" %>
							</li>
						<% when "continue" %>
							<li>
								<%= link_to "Continue", '#{url_for(:action=>action_url, :id=>record_id, :button=>"continue")}', :class=>"btn btn-default" %>
							</li>
						<% when "reset" %>
							<li>
								<%= link_to "Reset", '#{url_for(:action=>action_url, :id=>record_id, :button=>"reset")}', :class=>"btn btn-default" %>
							</li>
						<% when "cancel" %>
							<li>
								<%= link_to "Cancel", '#{url_for(:action=>action_url, :id=>record_id, :button=>"cancel")}', :class=>"btn btn-default" %>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>

      <div id="buttons_off" style="display:<%= session[:changed] ? "none" : "display" %>;">
				<ul id="form_buttons">
					<% buttons.each do |b| %>
						<% case b %>
						<% when "save" %>
							<li>
								<%= link_to "Save", '#{url_for(:action=>action_url, :id=>record_id, :button=>"save")}', :class=>"btn btn-default", :disabled=>"disabled" %>
							</li>
						<% when "submit" %>
							<li>
								<%= link_to "Submit", '#{url_for(:action=>action_url, :id=>record_id, :button=>"submit")}', :class=>"btn btn-default", :disabled=>"disabled" %>
							</li>
						<% when "continue" %>
							<li>
								<%= link_to "Continue", '#{url_for(:action=>action_url, :id=>record_id, :button=>"continue")}', :class=>"btn btn-default", :disabled=>"disabled" %>
							</li>
						<% when "reset" %>
							<li>
								<%= link_to "Reset", '#{url_for(:action=>action_url, :id=>record_id, :button=>"reset")}', :class=>"btn btn-default", :disabled=>"disabled" %>
							</li>
						<% when "cancel" %>
							<li>
								<%= link_to "Cancel", '#{url_for(:action=>action_url, :id=>record_id, :button=>"cancel")}', :class=>"btn btn-default", :disabled=>"disabled" %>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</td>
	</tr>
</table>
